:root {
  --dark-color: #282c34;
  --light-color: #f5f5f5;
  --danger-color: #980000;
  --success-color: #28a745;
  --primary-color: #0078f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-color);
  color: var(--light-color);
  line-height: 1.6;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  margin: 1rem 0;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  padding: 1rem 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  outline: none;
  border: none;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--primary-color);
}
.btn-success {
  background-color: var(--success-color);
}

label,
input,
select,
textarea {
  display: block;
}

input,
select,
textarea {
  outline: none;
  border: none;
  background-color: #ccc;
  line-height: 2;
  margin-bottom: 0.5rem;
  min-width: 360px;
}

select {
  height: 30px;
}

.ingredient.pill {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.8rem;
  border: 1px solid var(--primary-color);
  margin: 0.6rem 0.3rem;
}

.recipe-list {
  width: 100%;
  text-align: left;
}
.recipe-item * {
  margin-bottom: 0;
}
.recipe-list th {
  white-space: nowrap;
}
.recipe-list th,
.recipe-list td {
  padding: 0.5rem;
}
.recipe-list .id {
  max-width: 64px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
