:root {
  --dark-color: #282c34;
  --light-color: #f6f4f3;
  --danger-color: #980000;
  --success-color: #28a745;
  --primary-color: #06c;
  --brown: #b5460f;
  --yellow: #f4d17a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-color);
  background-color: var(--light-color);
  line-height: 1.6;
  font-size: 18px;

  background-image: url(./bckgnd.webp);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  margin-bottom: 0.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

hr {
  margin: 1rem 0;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  padding: 1rem 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: auto;
  display: inline-block;
  padding: 1.5rem;
  background-color: var(--light-color);

  opacity: 0.9;

  margin-bottom: 4rem;
}
header .wrapper {
  padding: 1.5rem;
  border: 3px solid var(--yellow);
  min-width: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header small {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Tahoma, sans-serif;

  position: absolute;
  top: -14px;
  background-color: var(--light-color);
  padding: 0 0.5rem;

  color: var(--brown);
}
header hr {
  width: 100%;
}

.cta {
  text-transform: uppercase;
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 600;
}
header .cta {
  padding: 0.5rem;
}
header .cta:hover {
  color: var(--brown);
}
header .cta::after {
  content: ' >';
  color: var(--brown);
}
.cta.primary {
  color: var(--primary-color);
}
.cta.danger {
  color: var(--danger-color);
}

.btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  outline: none;
  border: none;
  color: var(--light-color);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
.btn-primary {
  background-color: var(--primary-color);
}
.btn-success {
  background-color: var(--success-color);
}
.btn-danger {
  background-color: var(--danger-color);
}

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.link.danger {
  color: var(--danger-color);
}

.create {
  padding: 1.5rem 2rem;
  background-color: var(--light-color);
  opacity: 0.9;
}

label,
input,
select,
textarea {
  display: block;
}

input,
select,
textarea {
  outline: none;
  border: none;
  background-color: var(--yellow);
  line-height: 2;
  margin-bottom: 0.5rem;
  min-width: 360px;
  text-indent: 0.5rem;
}

select {
  height: 30px;
}

.ingredient.pill {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.8rem;
  border: 1px solid var(--brown);
  color: var(--brown);
  margin: 0.6rem 0.3rem;
}

.recipe-list {
  width: 100%;
  padding: 1rem;
  background-color: var(--light-color);
  opacity: 0.9;
  text-align: left;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: start;
}
.recipe-list > p {
  text-align: center;
  grid-column: span 3;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--yellow);
  justify-content: space-between;
}
.recipe-list th {
  white-space: nowrap;
}
.recipe-list th,
.recipe-list td {
  padding: 0.5rem;
}
.recipe-list .id {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.recipe-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;

  background: var(--light-color);
  opacity: 0.9;
  padding: 1rem 1.5rem;
}
.recipe-details h1 {
  grid-column: span 2;
}
.recipe-details strong {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.recipe-details ul {
  list-style-type: square;
  padding-left: 1.5rem;
}
.recipe-details li::first-letter,
.recipe-details p::first-letter {
  text-transform: capitalize;
}
.recipe-details small {
  display: block;
}
